---
import Blank from "../../layouts/Blank.astro";
---

<Blank title="CDN Libraries" bgcolor="color1">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom color4"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <span class="fs-4 ps-3"
        ><i class="bi bi-link-45deg fw-bold fs-1 text-color1"></i></span
      >
      <span class="fs-4 fw-bold text-color1">CDN Libraries</span>
    </a>

    <ul class="nav nav-pills fw-bold">
      <li class="nav-item">
        <a
          href="https://master.devkikinian.click/cdn-library"
          class="nav-link link-dark"
          aria-current="page">Home</a
        >
      </li>
      <li class="nav-item">
        <a href="https://devkikininan.click" class="nav-link link-dark"
          >devkikinian</a
        >
      </li>
      <li class="nav-item">
        <a href="https://api.devkikinian.click" class="nav-link link-dark"
          >Api</a
        >
      </li>
      <li class="nav-item">
        <a href='mailto:kiki@devkikinian.click"' class="nav-link link-dark"
          >Contact</a
        >
      </li>
      <li class="nav-item">
        <a href="https://kikukeii.github.io/profile" class="nav-link link-dark"
          >About</a
        >
      </li>
    </ul>
  </header>
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">CDN Libraries</h1>
          <p class="lead text-body-secondary">
            Website ini menampilkan kumpulan CDN link dari library JavaScript.
          </p>
        </div>
        <div class="row pt-5">
          <div class="col"></div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-search"></i></span>
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="searchBox"
                  placeholder="Search..."
                  aria-describedby="button-addon2"
                />
                <label for="searchBox">Search...</label>
              </div>
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="searchButton">Search</button
              >
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
  </main>
  <div class="container">
    <div class="row row-cols-md-3 row-cols-1 mb-2" id="libraries"></div>
  </div>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">About</a>
      </li>
    </ul>
    <p class="text-center text-body-secondary fw-bold">© 2023 Devkikinian</p>
    <p class="text-center text-body-secondary fw-bold">
      <a href="http://astro.build" target="_blank" rel="noopener noreferrer"
        >Astro</a
      > | <a href="http://vercel.com" target="_blank" rel="noopener noreferrer"
        >Vercel</a
      > | <a href="http://cdnjs.com" target="_blank" rel="noopener noreferrer"
        >cdnjs</a
      >
    </p>
  </footer>
</Blank>

<script>
  let libraries = [];
  const apiUrl = "https://api.cdnjs.com/libraries";
  const params = {
    fields: "filename,description,version",
    limit: 42,
  };

  const response = await fetch(
    `${apiUrl}?fields=${params.fields}&limit=${params.limit}`
  );
  const data = await response.json();
  libraries = data.results;

  libraries.map(
    (library) =>
      (document.getElementById("libraries").innerHTML += `
          <div class="col py-3">
            <div
              class="row g-0 shadow rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              style="height: 100%;"
            >
              <div class="col p-4 d-flex flex-column position-static color4">
                <strong class="d-inline-block mb-2 text-emphasis dark">
                  ${library.name}
                </strong>
                <h5 class="mb-0 text-color3">${library.filename}</h5>
                <div class="mb-1 text-body-ehite">
                  version ${library.version}
                </div>
                <p class="card-text mb-auto text-color3">
                  ${library.description}
                </p>
                <div class="text-center">
                  <a
                    href="#"
                    class="icon-link gap-1 icon-link-hover stretched-link link-underline link-underline-opacity-0" 
                  >
                    Go details
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>`)
  );
</script>
<script is:inline>
  const apiUrl = "https://api.cdnjs.com/libraries";

  $("#searchBox").on("input", function () {
    if ($(this).val().length >= 2) {
      const query = $(this).val();
      getResults(query);
    }
  });

  $("#searchButton").click(() => {
    const query = $("#searchBox").val();
    getResults(query);
  });

  function getResults(keyword) {
    $("#libraries").empty();
    $("#libraries").append(`
    <div class="col py-3">
    <div class="text-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      </div>
      </div>`);
    $("#libraries").append(`
    <div class="col py-3">
    <div class="text-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      </div>
      </div>`);
    $("#libraries").append(`
    <div class="col py-3">
    <div class="text-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      </div>
      </div>`);

    $.ajax({
      url: apiUrl,
      dataType: "json",
      data: {
        search: keyword,
        fields: "filename,description,version",
      },
      type: "GET",
      success: function (response) {
        libraries = response.results;
        $("#libraries").empty();
        libraries.map((library) =>
          $("#libraries").append(`<div class="col py-3">
            <div
              class="row g-0 shadow rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              style="height: 100%;"
            >
              <div class="col p-4 d-flex flex-column position-static color4">
                <strong class="d-inline-block mb-2 text-emphasis dark">
                  ${library.name}
                </strong>
                <h5 class="mb-0 text-color3">${library.filename}</h5>
                <div class="mb-1 text-body-ehite">
                  version ${library.version}
                </div>
                <p class="card-text mb-auto text-color3">
                  ${library.description}
                </p>
                <div class="text-center">
                  <a
                    href="#"
                    class="icon-link gap-1 icon-link-hover stretched-link link-underline link-underline-opacity-0"
                  >
                    Go details
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>`)
        );
      },
      error: function (error) {
        console.log(error);
        // handle error
      },
    });
  }
</script>
